{% extends '@layout/default.html.twig' %}
{% block content %}

        {% include '@app/customer/_form-element.html.twig' %}

        {% set submit = form.get('submit') %}
        {%
           do submit.setAttribute('class','btn btn-danger').setLabel('Excluir')
        %}

        {% do form.setAttribute('action',url('customer.delete',{id:form.getObject().id})) %}
        {% do form.prepare() %}

	<div class="row">
		<div class="col-md-8">
		  <!-- general form elements -->
		  <div class="box box-primary">
			<!-- /.box-header -->
			<!-- form start -->
			<fieldset disabled>
                        {% include '@app/customer/_form.html.twig' %}
			  <!-- /.box-body -->
			</fieldset>
			  
			  {{ form().openTag(form) | raw }}
                                {{ formHidden(form.get('_method')) }}
                                <div class="box-footer">
                                    {{ formButton(submit) }}
                                </div> 
 			  {{ form().closeTag(form) | raw }} 
		  </div>
	  </div>

{% endblock %}

{% block title %} 
	Exclusão de Contato - {{ parent() }}
{% endblock %}

{% block page_header %}
	Exclusão de Contato - {{ form.getObject().name }}
{% endblock %}